*{
	margin: 0px;
	padding: 0px;
	
}

body{
	background-color: #191919;
	
}


/* configurações*/

#nome_topo{
	background-color: #8B008B;
	padding: 10px;
	height: 125px;

}

#conteudo{
	background-color: #eee;
	width:50px auto;
	float: left;
	width:660px;
	padding: 15px;
	margin-left:80px;
}


/*geral*/
h2{
	color: white;
	text-align: center;
	margin: 20px;
	font-size: 3.2em;
	font-family: 'Bangers', cursive;
}

h3{
	text-align: center;
	font-size:1.5em;
}


ul{
	display: flex;
	justify-content: center;
}
li{
	padding: 8px;
	list-style: none;
	
	
}

a{
	text-decoration: none;
	text-transform: uppercase;
}

a:link,a:visited{
	color: white;
	padding: 6px 10px;
}

a:hover{
	background-color: white;
	color: #8B008B;
	
}

