*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	font-family: inherit;
}

html {
	box-sizing: border-box;
	font-family: "Trebuchet monospace", "Helvetica", sans-serif;
	font-size: 10px;
}

body {
	background: #E6E6E6;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
	font-size: 1rem;
}

a:link, a:visited {
	color: #F7b600;
}

a:hover {
	text-decoration: underline;
}

h1 {
	color: #4e4e4e;
	font-size: 2.5em;
}

h2 {
	font-size: 2.5rem;
	color: #f7b600;
}

h3 {
	font-size: 1.6rem;
	color: #585858;
	background: #ccc;
	padding: 0.5rem;
}

h4 {
	font-size: 1.3rem;
}

header {
	background-color: #333333;
	padding: 2rem;
	text-align: center;
}

header .logo {
	padding: 1rem
}

header .logo h1 {
	font-size: 4rem;
	color: #CCC;
}

header .logo span {
	color: white;
}

.main-menu {
	display: flex;
	justify-content: space-around;
}

.main-menu ul {
	list-style-type: none;
	display: flex;
}

.main-menu ul li {
	padding: 0 0.4rem;
}

.main-menu a {
	color: #FFF;
	font-size: 2rem;
	padding: 0.5rem;
	border-radius: 4px;
}

.main-menu a:link, .main-menu a:visited {
	color: #FFF;
}

.main-menu a:hover {
	color: #000;
	background: #FFF;
	text-decoration: none;
}

main {
	display: flex;
	flex-wrap: wrap;
	padding: 1.5rem;
	background: #E6E6E6;
	max-width: 1200px;
	margin: 2rem auto;
}

.content {
	display: flex;
	flex-wrap: wrap;
	background: white;
}

.lateral {
	padding-left: 2rem;
}

.post {
	padding: 2rem;
}

.post>figure {
	margin-bottom: 1rem;
}

.post>p {
	font-size: 1.5rem;
}

.post>a {
	font-size: 1.2rem;
}

.post:not(:last-child) {
	padding: 2rem;
	margin-bottom: 2rem;
}

.data-postagem {
	font-size: 1.5rem;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	display: block;
}

.lateral-box {
	background: white;
	padding: 1rem;
}

.lateral-box:not(:last-child) {
	margin-bottom: 2rem;
}

.lateral-box>article {
	font-size: 0.8em;
	padding: 0.5rem;
	border-bottom: 1px dotted #ccc;
}

.lateral-box>article>p {
	font-size: 1.2rem;
}

.lateral-box>article>a {
	font-size: 1.2rem;
}

footer {
	clear: both;
	text-align: center;
	padding: 1.5rem;
	background: #ccc;
}

/* Tiny devices */

@media (max-width: 575px) {
	html {
		font-size: 7px;
	}
	.content {
		flex: 0 0 100%;
	}
	.lateral {
		display: none;
	}
}

/* Small devices */

@media (min-width: 576px) {
	html {
		font-size: 8px;
	}
	.content {
		flex: 0 0 100%;
	}
	.post {
		flex: 0 0 50%;
	}
	.lateral {
		display: none;
	}
}

/*  Medium devices*/

@media (min-width: 768px) {
	html {
		font-size: 9px;
	}
	.content {
		flex: 0 0 75%;
	}
	.post {
		flex: 0 0 100%;
	}
	.lateral {
		display: block;
		flex: 0 0 25%;
	}
}

/*  Large devices*/

@media (min-width: 992px) {
	html {
		font-size: 10px;
	}
}