*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	font-family: inherit;
}

html {
	box-sizing: border-box;
	font-family: "Trebuchet monospace", "Helvetica", sans-serif;
	font-size: 10px;
}

body {
	background: #E6E6E6;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #F7b600;
}

a:hover {
	text-decoration: underline;
}

h1 {
	color: #4e4e4e;
	font-size: 2.5em;
}

h2 {
	color: #f7b600;
}

h3 {
	color: #585858;
	background: #ccc;
	padding: 0.5rem;
}

header {
	background-color: #333333;
	padding: 2rem;
	text-align: center;
}

header .logo {
	padding: 1rem
}

header .logo h1 {
	font-size: 4rem;
	color: #CCC;
}

header .logo span {
	color: white;
}

header nav {
	display: flex;
	justify-content: space-around;
}

header nav ul {
	list-style-type: none;
	display: flex;
}

header nav ul li {
	padding: 0 0.4rem;
}

header nav a {
	color: #FFF;
	font-size: 2rem;
	padding: 0.3rem;
}

header nav a:link, header nav a:visited {
	color: #FFF;
}

header nav a:hover {
	color: #000;
	background: #FFF;
	text-decoration: none;
}

main {
	display: flex;
	flex-wrap: wrap;
	padding: 1.5rem;
	margin: 0.5rem;
	border: solid 1px red;
}

main>section {
	display: flex;
	flex-wrap: wrap;
}

main>aside {}

main>section>article {
	padding: 2rem;
	margin-bottom: 2rem;
	background: white;
}

.data-postagem {
	font-size: 0.8em;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	display: block;
}

main>aside>section {
	background: white;
	padding: 1rem;
	margin-bottom: 2rem;
}

main>aside>section>article {
	font-size: 0.8em;
	padding: 0.5rem;
	border-bottom: 1px dotted #ccc;
}

footer {
	clear: both;
	text-align: center;
	padding: 1.5rem;
	background: #ccc;
}

/* Tiny devices */

@media (max-width: 575px) {
	main>section {
		flex: 0 0 100%;
	}
	main>aside {
		display: none;
	}
}

/* Small devices */

@media (min-width: 576px) {
	main>section {
		flex: 0 0 100%;
	}
	main>section>article {
		flex: 0 0 50%;
	}
	main>aside {
		display: none;
	}
}

/*  Medium devices*/

@media (min-width: 768px) {
	main>section {
		flex: 0 0 75%;
		background-color: yellow;
	}
	main>section>article {
		flex: 0 0 100%;
	}
	main>aside {
		display: block;
		flex: 0 0 25%;
	}
}

/*  Large devices*/

@media (min-width: 992px) {}

/*  Extra large devices*/

@media (min-width: 1200px) {}