body {
    margin:0;
    padding:0;
    width:95%;
    height:auto;
    margin: auto;
    margin-top:20px;
    border: 1px solid #262626;
    border-radius:8px;
}
.container {
    display: flex;
    justify-content: space-between;
    margin:50px;
}

.menu ul {
    display:flex;
    border: 1px solid #666666;
    height:25px;
    line-height:25px;
}

.menu ul a {
    color:#666666;
    text-decoration: none;
    margin-right:10px;
    list-style: none;
    font-size:0.9rem;
    margin-right:10px;
}

.menu ul a:hover {
    background-color: #666666;
    color:#fff;
    border-radius:5px;
}

/*box conteudo*/

.box_conteudo {
    width:400px;
    height:200px;
    border:1px solid #262626;
    position: ;
    top:210px;
    left:0;
    right:0;
    margin: auto;
    text-align: center;
}

.box_conteudo a {
    font-size:0.7rem;
    text-decoration: none;    
    color:#fff;
    
}

.botao_dolar{
    background-color:#666666;
    width:130px;
    height:30px;
    line-height:30px;
    border-radius:8px;
    left:0;
    right:0;
    margin: auto;
}



.container2 h1 {
    text-align: center;
    margin-top: 90px;
}

.container2 h6 {
    text-align: center;
    font-size:0.9rem;
    font-weight: 500;
}

hr {
    width:100%;
    max-width:895px;
}

.conteudo2 {
    width:100%;
    max-width:230px;
    height:100px;
    border:1px solid #666666;
    border-radius:0px 0px 10px 10px;
    margin-top:50px;
    margin:20px;
    
}

.conteudo2 h2 {
    font-size:1.0rem;
}

.circulo2 {
    width:70px;
    height:70px;
    border:2px solid #666666;
    border-radius:50%;
    float: left;
    margin:5px;
    margin-top:15px;
}

h5 {
    margin-top:-12px;
    font-weight: 500;
}

.container_conteudo2 {
    display:flex;
    width:100%;
    max-width:930px;
    margin: auto;
}

.texto2 {
    width:650px;
    margin: auto;
    text-align: center;
}

.botao2 {
    background-color:#666666;
    width:160px;
    height:30px;
    line-height:30px;
    border-radius:10px;
    left:0;
    right:0;
    margin: auto;
    text-align: center;
    padding:5px;
}

.botao2 a {
    color:#fff;
    text-decoration: none;
}